LOCAL_ENV={"PORT":"9000","ROOMS":"GERAL,OTHERS","REDIS_ENDPOINT":"redisserver","REDIS_EXPIRE":"6000","JWT_AUDIENCE":"https://dev-pykk3w10hb2meep4.us.auth0.com/api/v2/","JWT_ISSUER_BASE_URL":"https://dev-pykk3w10hb2meep4.us.auth0.com/api/v2/"}