version: '3.3'
services:
  redis:
    image: redis:latest
    restart: always
    ports:
      - '6379:6379'
    hostname: redisserver
  websocket:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - '9000:9000'
    volumes:
      - './:/app'
    working_dir: '/app'
    command: npm run start:dev
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_REGION=${AWS_REGION}
      - ENVIRONMENT=dev
    hostname: websocket
    depends_on:
      - redis
