services:
  redis:
    image: redis:latest
    restart: always
    ports:
      - '6379:6379'
    hostname: redisserver
  websocket:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - '9000:9000'
    working_dir: '/app'
    environment:
      - ENVIRONMENT=prod
    hostname: websocket
    depends_on:
      - redis
