version: '3.8'
services:
  redis:
    image: redis:latest
    restart: always
    ports:
      - '6379:6379'
  websocket:
    image: "node:20"
    restart: always
    ports:
      - '9000:9000'
    volumes:
      - './:/app'
    working_dir: '/app'
    command: npm run start:dev
    depends_on:
      - redis
