---
- name: Run docker-compose...
  shell: |
    if [ $(docker ps --filter name=redis | grep redis;  echo $?) -eq 0 ];then
      docker run -d  --restart=always -p 6379:6379 -name redis redis:latest
    fi
    docker pull marceloviana/websocket:latest
    if [ $? -eq 0 ];then
      docker restart websocket
      exit 0
    fi
    docker run -d  --restart=always -p 9000:9000 -name websocket marceloviana/websocket:latest

