---
- name: Executando o deploy no Raspberry
  shell: |
    if [ $(docker ps --filter name=redis | grep redis > /dev/null;  echo $?) -ne 0 ];then
      docker run -d  --restart=always -p 6379:6379 --name redis redis:latest
    fi
    if [ $(docker ps --filter name=websocket | grep websocket > /dev/null;  echo $?) -ne 0 ] || [ $(docker ps --filter status=restarting | wc -l) -gt 1 ];then
      docker run -d  --restart=always -p 9000:9000 --name websocket marceloviana/websocket:latest
    fi
    docker pull marceloviana/websocket:latest
    if [ $? -eq 0 ];then
      docker restart websocket
      exit 0
    fi
