name: My Custom Action
description: Prints a message
inputs:
  message:
    description: The message to print
    required: true
runs:
  using: "composite"
  steps:
    - run: echo "${{ inputs.message }}"
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Ansible
      run: |
        python -m pip install --upgrade pip
        pip install ansible

    # Configuração de chaves SSH para acesso remoto
    - name: Configure SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -p 9022 -H "${{ secrets.REMOTE_HOST }}" >> ~/.ssh/known_hosts
    - name: Coping docker-compose to ${{ secrets.REMOTE_HOST }} 
      run: |
        scp -i ~/.ssh/id_rsa -P 9022 docker-compose.yml root@app.infsite.org:/app/docker-compose.yml

    # Execução do playbook Ansible
    - name: Run Ansible Playbook
      run: |
        cd ansible
        ansible-playbook -i inventory.yml playbook.yml
      env:
        ANSIBLE_HOST_KEY_CHECKING: 'False'
        DOCKER_REPO: "${{ secrets.DOCKER_REPO }}"
