name: Run Ansible Playbook.

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ansible:
    runs-on: ubuntu-latest

    steps:
    # Checkout do código do repositório
    - name: Checkout repository
      uses: actions/checkout@v3

    # Configuração do Python e instalação do Ansible
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Ansible
      run: |
        python -m pip install --upgrade pip
        pip install ansible

    # Configuração de chaves SSH para acesso remoto
    - name: Configure SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -p 9022 -H "${{ secrets.REMOTE_HOST }}" >> ~/.ssh/known_hosts

    # Execução do playbook Ansible
    - name: Run Ansible Playbook
      run: |
        cd ansible
        ls -lsa
        ansible-playbook -i inventory.yml playbook.yml
      env:
        ANSIBLE_HOST_KEY_CHECKING: 'False'
        DOCKER_REPO: "${{ secrets.DOCKER_REPO }}"
