name: Deployment in production with Ansible

on:
    pull_request:
        branches:
        - "main"
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
          - name: Install Ansible
            run: | 
                apt update && apt install -y ansible

          - name: checkout
            uses: actions/checkout@v3
            with: 
              run: |
                cat <<EOF > ~/id_rsa
                ${{secrets.DEPLOY_KEY}}
                EOF
                chmod 700 ~/id_rsa
                chmod +x ./.ansible/configure-ansible.sh
                ls -lsa

          - name: Deploy with Ansible
            run: bash ./.ansible/configure-ansible.sh app.infsite.org root ~/id_rsa yes 9022