name: Docker Image CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  build:

    runs-on: ubuntu-latest
    env:
      DOCKER_REPO: ${{ secrets.DOCKER_REPO }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Build the Docker image
      run: |
        echo ${{ env.LOCAL_ENV }} > .env
        docker build --file Dockerfile --platform linux/amd64,linux/arm64 --tag $DOCKER_REPO .    
    - name: Login in Hub-docker
      run: docker login -u ${{ secrets.USERNAME_REGISTRY }} -p ${{ secrets.PASSWORD_REGISTRY }} docker.io
    - name: Push docker image
      run: docker push $DOCKER_REPO

  deploy:
    needs: build
    uses: ./.github/workflows/ansible.yml
    with:
      some_input: "Hello from Main Workflow"
