name: Deploy with Ansible

on:
    pull_request:
        branches:
        - "main"
jobs:
    install:
        name: Install packeges
        runs-on: ubuntu-latest
        steps:
          - name: checkout
            uses: actions/checkout@v3
          - name: Install Ansible
            run: | 
                apt update && apt install -y pipx
                pipx install --include-deps ansible
                pipx install ansible-core

          - name: Deploy SSH Key
            run: |
                cat <<EOF > ~/id_rsa
                ${{secrets.DEPLOY_KEY}}
                EOF
                pwd
                ls -ls

          - name: Deploy with Ansible
            run: bash ./.ansible/configure-ansible.sh app.infsite.org root ~/id_rsa yes 9022
          


