name: Deployment in production with Ansible

on:
    pull_request:
        branches:
        - "main"
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
          - name: checkout
            uses: actions/checkout@v3
          - name: Install Ansible
            run: | 
                apt update && apt install -y pipx
                pipx install --include-deps ansible
                pipx install ansible-core
                chmod +x /root/.local/bin/ansible-playbook

          - name: Deploy SSH Key
            run: |
                cat <<EOF > ~/id_rsa
                ${{secrets.DEPLOY_KEY}}
                EOF
                chmod 700 ~/id_rsa

          - name: Deploy with Ansible
            run: bash ./.ansible/configure-ansible.sh app.infsite.org root ~/id_rsa yes 9022


